<div class="alert-messages">
  <div class="row">
    <div class="large-12 columns">
    
      <div data-alert flash-alert="success" active-class="show" class="alert-box" duration="0">
        <span ng-bind-html="flash.message"></span>
        <a href="#" class="close">&times;</a>
      </div>
      
      <div data-alert flash-alert="info" active-class="show" class="alert-box" duration="0">
        <span ng-bind-html="flash.message"></span>
        <a href="#" class="close">&times;</a>
      </div>
      
      <div data-alert flash-alert="warn" active-class="show" class="alert-box" duration="0">
        <span ng-bind-html="flash.message"></span>
        <a href="#" class="close">&times;</a>
      </div>
      
      <div data-alert flash-alert="error" active-class="show" class="alert-box" duration="0">
        <span ng-bind-html="flash.message"></span>
        <a href="#" class="close">&times;</a>
      </div>
    </div>
  </div>
</div>
